body {
  background-color: #363543;
}

a.navbar-brand {
  color: white;
  width: 27%;
  padding: 30px;
  margin-left: -95px;
  cursor: pointer;
}

.navbar-expand-lg {
  background-color: #363543;
  color: white;
}

a.nav-link {
  color: #cecece;
  margin: 0px 30px;
  font-weight: 600;
}

a.nav-link:hover {
  color: white;
}

img {
  position: absolute;
  height: 80px;
  bottom: -3px px;
  bottom: -15px;
  left: 130px;
}

.box {
  background-color: #363543;
  width: 100%;
  height: 100%;
  padding: 370px;
}

.dot {
  height: 40rem;
  width: 40rem;
  background-color: #2e2c39;
  border-radius: 50%;
  margin: -22rem 0;
  margin-bottom: 1;
  align-items: center;
}

.hr {
  width: 120px;
  border: 2px solid #ecaf1a;
  padding: -12px;
  position: absolute;
  left: 1rem;
  border-radius: 3px;
  margin-top: 20px;
}

.para {
  color: #b8b8bb;
  width: 280px;
  position: absolute;
  top: 20rem;
  left: 1rem;
  font-family: "Mitr", sans-serif;
}

.dot img {
  height: 37rem;
  margin-bottom: 14rem;
  width: 23rem;
  position: relative;
}

.head {
  position: absolute;
  right: -715px;
  bottom: 302px;
  font-size: 20px;
  color: rgb(195, 194, 208);
  font-family: "Dosis", sans-serif;
}

.headi {
  position: absolute;
  right: -55.5rem;
  bottom: 13.5rem;
  font-size: 17px;
  width: 234px;
  color: white;
  font-family: "Mitr", sans-serif;
}

.headin {
  position: absolute;
  right: -871px;
  bottom: 11rem;
  font-size: 15px;
  width: 215px;
  color: #ecaf1a;
  font-weight: 600;
}

.headin i {
  color: #ecaf1a;
  position: absolute;
  bottom: 20px;
  left: 100px;
}

.social_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -22rem;
  position: absolute;
  left: -12.5rem;
  top: 21rem;
}

.icon1 {
  height: 28px;
  width: 28px;
  background-color: #484b57;
  border-radius: 50%;
  margin: -20rem 10rem;
  position: absolute;
  left: 970px;
  cursor: pointer;
  transition: transform 0.5s;
}

.icon2 {
  height: 28px;
  width: 28px;
  background-color: #484b57;
  border-radius: 50%;
  margin: 27rem 10rem;
  position: absolute;
  left: 1010px;
  cursor: pointer;
  transition: transform 0.5s;
}

.icon3 {
  height: 28px;
  width: 28px;
  background-color: #484b57;
  border-radius: 50%;
  margin: -22rem 10rem;
  position: absolute;
  left: 1050px;
  cursor: pointer;
  transition: transform 0.5s;
}

.icon4 {
  height: 28px;
  width: 28px;
  background-color: #484b57;
  border-radius: 50%;
  margin: -22rem 10rem;
  position: absolute;
  left: 1090px;
  cursor: pointer;
  transition: transform 0.5s;
}

.icon5 {
  height: 28px;
  margin: -22rem 76rem;
  left: 1130px;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.5s;
}

.icon1:hover {
  -webkit-transform: scale(1.5);
}

.icon2:hover {
  color: #fffffff1;
  -webkit-transform: scale(1.5);
}

.icon3:hover {
  -webkit-transform: scale(1.5);
}

.icon4:hover {
  -webkit-transform: scale(1.5);
}

.icon5:hover {
  -webkit-transform: scale(1.5);
}

.social_icon i {
  color: #ecaf1a;
  padding: 7.4px;
}

.icon {
  position: absolute;
  left: 70%;
  top: 50%;
  display: flex;
}

.icon6 {
  position: absolute;
  left: 7rem;
  bottom: -0.9rem;
  font-size: 20px;
  color: #d1d2d7;
  cursor: pointer;
  transition: transform 0.5s;
}

.icon7 {
  position: absolute;
  left: 9.7rem;
  font-size: 20px;
  bottom: -0.7rem;
  color: #d1d2d7;
  cursor: pointer;
  transition: transform 0.5s;
}

.icon8 {
  position: absolute;
  left: 4rem;
  bottom: -0.8rem;
  font-size: 20px;
  color: #d1d2d7;
  cursor: pointer;
  transition: transform 0.5s;
}

.icon6:hover {
  color: #fffffff1;
  -webkit-transform: scale(1.5);
}

.icon7:hover {
  color: #fffffff1;
  -webkit-transform: scale(1.5);
}

.icon8:hover {
  color: #fffffff1;
  -webkit-transform: scale(1.5);
}

.contianer {
  background-color: #3f3e50;
  width: 1300px;
  padding: 60px;
  margin: auto;
  height: 0;
  margin-top: -50px;
  box-shadow: 5px 10px 18px #2a2935;
}

.bod {
  background-color: #282834;
  width: 100%;
  height: 1000%;
  position: absolute;
  top: 816px;
  z-index: -1;
}

.boxes {
  background-color: rgb(54, 53, 67);
  width: 170px;
  padding: 29px;
  margin: -31px 0px;
  position: absolute;
  box-shadow: rgb(42 41 53) 2px 0px 10px;
}

.boxes img {
  padding: 24px;
  cursor: pointer;
  margin: 5px -122px;
}

.boxes1 {
  background-color: #363543;
  width: 170px;
  padding: 29px;
  margin: -31px 320px;
  position: absolute;
  box-shadow: 2px 0px 10px #2a2935;
}

.boxes1 img {
  padding: 24px;
  margin: 4px -112px;
  cursor: pointer;
}

.boxes2 {
  background-color: #363543;
  width: 170px;
  padding: 29px;
  margin: -41px -10px;
  margin: -31px 660px;
  position: absolute;
  box-shadow: 2px 0px 10px #2a2935;
}

.boxes2 img {
  padding: 27px;
  margin: 5px -118px;
  cursor: pointer;
}

.boxes3 {
  background-color: #363543;
  width: 170px;
  padding: 29px;
  margin: -51px -10px;
  margin: -31px 989px;
  position: absolute;
  box-shadow: 2px 0px 10px #2a2935;
}

.boxes3 img {
  padding: 28px;
  margin: 5px -121px;
  cursor: pointer;
}

.paragraph h1 {
  color: #fcfdff;
  width: 425px;
  margin: 160px 220px;
}

.paragraph p {
  color: #a9a9ad;
  width: 242px;
  margin: -148px 212px;
  font-size: 12px;
  padding: 5px 14px;
}

.figure h2 {
  color: #ecaf1a;
  padding: 161px;
  margin: 0px 65px;
  margin-top: 10px;
}

.figures {
  margin: -472px 183px;
  font-size: 10px;
}

.figures h2 {
  color: #ecaf1a;
  padding: 161px;
  margin: 0px 65px;
  margin-top: 10px;
}

.alb img {
  top: -26rem;
  position: relative;
  left: 58rem;
}

.alb h2 {
  color: #fcfdff;
  margin-left: 67.9rem;
  font-size: 20px;
  margin-top: -485px;
  font-family: "Mitr", sans-serif;
}

.alb p {
  color: #a9a9ad;
  margin-left: 1090px;
  font-family: "Mitr", sans-serif;
  font-size: 11px;
}

.alb i {
  color: #ecaf1a;
  margin: 0 6rem;
  font-size: 22px;
}

.alb div {
  width: 485px;
  border: 1px solid #52525c;
  padding: 42px;
  margin: 30px 910px;
  width: 485px;
  padding: 42px;
  margin: 30px 910px;
  outline: none;
  border-left: none;
  border-bottom: none;
  border-right: none;
}











.albm img {
  position: relative;
  left: 57rem;
  top: -0.7rem;
  padding: 0px 16px;
}

.albm {
  margin-top: -21rem;
}

.albm h2 {
  color: #fcfdff;
  margin-left: 67.9rem;
  font-size: 20px;
  margin-top: -75px;
  font-family: "Mitr", sans-serif;
}

.albm p {
  color: #a9a9ad;
  margin-left: 1090px;
  font-family: "Mitr", sans-serif;
  font-size: 11px;
}

.albm i {
  color: #ecaf1a;
  margin: 0 1.6rem;
  font-size: 22px;
}

.albm div {
  width: 485px;
  border: 1px solid #52525c;
  padding: 42px;
  width: 485px;
  padding: 42px;
  margin: 31px 910px;
  outline: none;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.mb-1 {
  color: white;
}

.list-inline-item a {
  color: white;
}

footer {
  position: relative;
  top: 25rem;
}

.paragraph {
  margin-left: -14rem;
}

.wrap {
  margin-top: 20rem;
  margin-left: -16rem;
}

#row {
  width: 25rem;
  margin-left: 58rem;
}

.mainpara {
  position: absolute;
  top: 10rem
}

.mainpara h2 {
  position: absolute;
  top: 25%;
  font-size: 70px;
  font-family: "Dosis", sans-serif;
  color: #9e9dab;
}

.mainpara h1 {
  font-size: 2.5rem;
  font-size: 78px;
  font-family: monospace;
  left: 10%;
  color: #feffff;
  font-family: "Mitr", sans-serif;
  margin-top: 10rem;
}


.footers{
  position: relative;
    top: 29.6rem;
}